<h1>Cadastre seu Kit IoT 4G</h1>

<div class="form-error" ng-show="error">
  <p>
    <strong>{{ error.msg }}</strong>
  </p>
</div>

<div class="loader" ng-show="loading">
  <span class="spinner"></span>
</div>

<form class="form">
  <ul class="form-list">
    <li>
      <label for="usuario">Usuário*:</label>
      <input type="text" ng-model="username" name="username" id="username" ng-class="{ error: mapErrors.username }" />
    </li>

    <li>
      <label for="password">Senha*:</label>
      <input type="text" ng-model="password" name="password" id="password" ng-class="{ error: mapErrors.password }" />
    </li>

    <li>
      <label for="token">Service*:</label>
      <input type="text" ng-model="service" name="service" id="service" ng-class="{ error: mapErrors.service }" />
    </li>

    <li>
      <label for="apikey">API Key*:</label>
      <input type="text" ng-model="apikey" name="apikey" id="apikey" ng-class="{ error: mapErrors.apikey }" />
    </li>

    <li class="form-error" ng-show="errors">
      <p ng-repeat="error in errors">
        <strong>{{ error.msg }}</strong>
      </p>
    </li>

    <li ng-hide="loading">
      <button class="send" type="submit" ng-click="loginUser()">Salvar</button>
    </li>
  </ul>
</form>
